{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block header %}
<meta property="og:type" content="article">
{% endblock %}

{% block content %}
<div>
    <a href="{% pageurl page.get_parent %}">&laquo; blog index</a>
</div>
<article class="wrapper">
    <header>
        <h1>{{ page.title }}</h1>
        <p>
            <time pubdate datetime="{{ page.first_published_at.date.isoformat }}">
                {{ page.first_published_at.date|date }}
            </time>
        </p>
    </header>
    {% include_block page.body %}
</article>
<div>
    <a href="{% pageurl page.get_parent %}">&laquo; blog index</a>
</div>
{% endblock %}
