.wrapper {
    max-width: 800px;
    width: 95%;
}

.primary-navigation {
    font-size: 18px;
    border-bottom: 1px black solid;
    margin-bottom: 32px;
}

pre {
    overflow-x: scroll;
}

.primary-navigation li {
    float: left;
}
.primary-navigation li + li:before {
    content: "/";
    padding: 5px;
}

.primary-navigation ul {
    overflow: hidden;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-footer {
    margin-top: 32px;
    padding: 9px;
    border-top: 1px black solid;
}

.footer-badges img {
    width: auto;
    height: 100%;
}

.footer-badges {
    float: right;
}

.footer-badges li {
    float: left;
    height: 35px;
    padding: 5px;
}

.footer-badges ul {
    overflow: hidden;
    list-style-type: none;
}

.photostream_image {
    max-height: 768px;
    width: auto;
}
