.primary-navigation {
    font-size: 18px;
    border-bottom: 1px black solid;
}

.primary-navigation li {
    float: left;
}
.primary-navigation li + li:before {
    content: "/";
    padding: 5px;
}

.primary-navigation ul {
    overflow: hidden;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-footer {
    padding: 18px;
    border-top: 1px black solid;
}

.made-with-wagtail-badge {
    width: 200px;
    height: auto;
    float: right;
}
