{% load static navigation_tags wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/192x192.png' %}">
    {% if rss_feed_url %}
    <link rel="alternate" type="application/rss+xml" href="{{ rss_feed_url }}" title="{{ rss_feed_title }}">
    {% endif %}
    {% if atom_feed_url %}
    <link rel="alternate" type="application/atom+xml" href="{{ atom_feed_url }}" title="{{ atom_feed_title }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
    <title>{% block title %}{% if page %}{% firstof page.seo_title page.title %}{% endif %} | tmkn.org{% endblock %}</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sgttomtom">
    <meta name="twitter:creator" content="@sgttomtom">
    <meta name="twitter:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | tmkn.org">
    {% if page.search_description %}
    <meta name="twitter:description" content="{{ page.search_description }}">
    <meta property="og:description" content="{{ page.search_description }}" />
    {% endif %}
    {% if page.feed_image %}
    {% image page.feed_image width-600 as feed_image %}
    <meta name="twitter:image:src" content="{{ feed_image.url }}" />
    <meta name="twitter:image:alt" content="{{ feed_image.alt }}" />
    <meta property="og:image:url" content="{{ feed_image.url }}">
    {% endif %}
    {% if page.full_url %}
    <meta property="og:url" content="{{ page.full_url }}">
    {% endif %}
    <meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | tmkn.org">
    {% block header %}{% endblock %}
</head>
<body>
    <nav aria-label="primary" class="primary-navigation wrapper">
        <ul>
            <li><a href="/">tmkn.org</a></li>
            {% navigation_items as navigation_items %}
            {% for item in navigation_items %}
                <li><a href="{% pageurl item %}">{{ item }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="main-footer wrapper">
        <div class="footer-badges">
            <ul>
                <li>
                    <a href="https://wagtail.io">
                        <img src="{% static "images/wagtail_badge_black.svg" %}" class="made-with-wagtail-badge" alt="Made with Wagtail">
                    </a>
                </li>
                <li>
                    <a href="http://www.djangoproject.com/">
                        <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" alt="Powered by Django">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
