{% load static navigation_tags wagtailcore_tags wagtailroutablepage_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/192x192.png' %}">
    {% if rss_feed_url %}
    <link rel="alternate" type="application/rss+xml" href="{{ rss_feed_url }}" title="{{ rss_feed_title }}">
    {% endif %}
    {% if atom_feed_url %}
    <link rel="alternate" type="application/atom+xml" href="{{ atom_feed_url }}" title="{{ atom_feed_title }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
    <title>{% block title %}{% if page %}{% firstof page.seo_title page.title %}{% endif %} | tmkn.org{% endblock %}</title>
</head>
<body>
    <nav aria-label="primary" class="primary-navigation">
        <ul>
            <li><a href="/">tmkn.org</a></li>
            {% navigation_items as navigation_items %}
            {% for item in navigation_items %}
                <li><a href="{% pageurl item %}">{{ item }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="main-footer">
        <a href="https://wagtail.io">
            <img src="{% static "images/wagtail_badge_black.svg" %}" class="made-with-wagtail-badge" alt="Made with Wagtail badge">
        </a>
    </footer>
</body>
</html>
