{% if objects.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page=1" rel="first">&laquo; first</a>
            <a href="?page={{ objects.previous_page_number }}" rel="prev">
                previous
            </a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}" rel="next">next</a>
            <a href="?page={{ objects.paginator.num_pages }}" rel="last">
                last &raquo;
            </a>
        {% endif %}
    </span>
</div>
{% endif %}
