{% if objects.paginator.num_pages > 1 %}
<nav aria-label="pagination" class="wrapper">
    <span>
        {% if objects.has_previous %}
            <a href="?page=1" rel="first">&laquo; first</a>
            <a href="?page={{ objects.previous_page_number }}" rel="prev">
                previous
            </a>
        {% endif %}

        <span>
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}" rel="next">next</a>
            <a href="?page={{ objects.paginator.num_pages }}" rel="last">
                last &raquo;
            </a>
        {% endif %}
    </span>
</nav>
{% endif %}
